html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.logo {
  display: inline-block;
  margin-bottom: 50px;
}

.links {
  margin-bottom: 50px;
  font-size: 0;
}

.link {
  display: inline-block;
  padding: 24px 49px;
  font-weight: 700;
  font-size: 18px;
  background: #3f2aff;
}

.link-download {
  background-image: url(../img/download.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 30px;
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
}

.link:not(:last-child) {
  margin-right: 25px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 1;
  color: #333;
}

.content {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 1.15;
  color: #333;
}

.sub-content {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13;
  color: #333;
}

.text {
  margin-top: 0;
  margin-bottom: 40px;
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #333;
}

.text-background {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  background-color: #3f2aff;
}

.gray-box {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
}

.gray-box {
  margin-top: 0;
  margin-bottom: 40px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* 4.пункт */
.gray-box-decorate-1 {
  background-image: url(../img/decorate-1.png);
}
.gray-box-decorate-2 {
  background-image: url(../img/decorate-2.png);
}

.gray-box:last-child {
  margin-bottom: 0px;
}

.gray-box-text {
  margin-top: 0px;
  width: 692px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #333;
}

.list-left {
  padding-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.list-item {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #3f2aff;
  text-decoration: underline solid 1px;
}

.list-item:last-child {
  margin-bottom: 0px;
}

::marker {
  color: #3f2aff;
}

.img {
  margin: 0px 0px 0px;
  margin-bottom: 40px;
}

.img-figure {
  display: inline-block;
  margin: 0px 0px 0px;
  margin-bottom: 40px;
  width: 872px;
  font-size: 0;
}

.figure-text {
  border: 1px solid #b6b6b6;
  border-top: none;
  padding: 19px 0px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
/** Модуль 5***/ /** Модуль 5***//** Модуль 5***/

.container-modules {
  width: 1170px;
  margin: 0 auto;
  background-color: #ffffff;
}

.logo {
  margin: 50px;
  margin-bottom: 25px;
  margin-left: 0;
  margin-right: 0;
}

.logo-img {
  margin: 0;
  width: 137px;
  height: 30px;
}

.link-back {
  margin: 0;
  margin-bottom: 25px;
  margin-left: 0;
}

.link-back {
  background-image: url(../img/modules-back.svg);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 52px;
  color: #3f2aff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.title-main {
  margin: 0;
  margin-bottom: 50px;
  width: 1170px;
  height: 69px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: #3f2aff;
}

.cards {
  margin: 0;
  margin-bottom: 25px;
  padding: 0px;
  list-style-type: none;
  font-size: 0;
}

.card {
  margin: 0;
  margin-bottom: 25px;
  margin-right: 25px;
  width: 572.5px;
  height: 505px;
  display: inline-block;
  box-shadow: 0px 0px 40px 0px #0000001a;
  vertical-align: top;
  background-color: #ffffff;
  position: relative;
}

.card:nth-child(2n) {
  margin-right: 0;
}

.card-img {
  margin: 0;
  height: 180px;
  background-size: cover;
}

.card-warp {
  margin: 0;
  padding: 25px;
}

.card-title {
  margin: 0;
  margin-bottom: 2px;
  height: 46px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #3f2aff;
}

.card-themes {
  margin: 0;
  margin-left: 0px;
  padding: 0;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  color: #333333;
}

.card-number {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #eaeaea;
  width: 45px;
  height: 46px;
}

.btn-center {
  margin: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.btn {
  margin: 0;
  padding: 25px 76px;
  border: 2px solid #3f2aff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20.7px;
  text-align: center;
  color: #3f2aff;
  background-color: transparent;
}
